/* 뷰 포트(브라우저)의 크기가 21rem(335px)보다 작다면 아래 스타일 적용해라 */
/* @media (max-width: 21rem) {} */

/* 뷰 포트(브라우저)의 크기가 78rem(약 1250px)보다 작다면 아래 스타일 적용해라 */
@media (max-width: 78rem) {
  .go-to-top {
    display: none;
  }
}

@media (max-width: 26.5625rem) {
  .best-article {
    /* 회전시 축도 회전됨 */
    transform: rotate(-45deg) translate(2.9rem, 2rem);

    width: 40%;
    text-align: center;
    padding: 0;
  }
  .search-form {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr;
    text-align: center;
  }
  .search-title {
    display: block;
  }
  .search-btn {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
  }
  .search-input {
    width: 100%;
    display: block;
  }

  .best-article {
    top: auto;
    bottom: 0;
  }
  .header-category-list {
    flex-direction: column;
  }
  .header-category-list-item {
    flex-basis: 100%;
    width: 100%;
  }

  .content-article {
    margin-left: 0;
    overflow: hidden;
  }
  .content-article:hover {
    .best-article {
      transform: rotate(-45deg) translate(2.9rem, 2rem) scale(2, 2);
    }
  }
  .header-logo > div:nth-child(3),
  .header-logo > div:nth-child(4) {
    display: none;
  }
  .header-logo {
    text-align: center;
  }

  .hambuger {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
  }
}
